.container
{ padding: 0;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: white;
height:28rem;
width: 60rem;


}
.button{
    border-style: solid;
    border-width: 1px;
    height: 20px;
    width: 150px;
}
.color1
{
background-color: black;

}
.color2
{
    background-color: red;
}
.box {
    display: flex;
    margin: 1rem;
}

.color {
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
}
.img {
    margin-right: 2rem;
    margin-left: 2rem;
}
body
{
    background-color: aqua;
    margin-top: 5rem;
}